.textBoxes {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 10px;
}

textarea {
    width: 32em;
    height: 32em;
    background: #393939;
    color: white;
}

.submitButtons {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 12px;
}

input {
    margin: 20px;
    padding: 2px;
}